
HomoLudens/Library/CrashedAssetImports\.txt

HomoLudens/Library/CurrentLayout\.dwlt

HomoLudens/Library/EditorInstance\.json

HomoLudens/Library/LastSceneManagerSetup\.txt

HomoLudens/Library/shadercompiler-UnityShaderCompiler\.exe0\.log

HomoLudens/Library/StateCache/Hierarchy/39ac70-mainStage\.json

HomoLudens/Temp/__Backupscenes/0\.backup
